<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel="tests" >
	<test thread-count="5" name="Guru99">
		<classes>
			<class name="demoTest.Guru99" />
		</classes>
	</test>
	<test thread-count="5" name="Wiki">
		<classes>
			<class name="demoTest.Wikipedia" />
		</classes>
	</test>
</suite>